# GAP outputs
*.o
*.so
*.dll
*.dylib

# GAPDoc build artifacts
pkg/FusionRings/doc/manual.six
pkg/FusionRings/doc/manual.toc
pkg/FusionRings/doc/manual.lab
pkg/FusionRings/doc/chap*.html
pkg/FusionRings/doc/chap*.txt
pkg/FusionRings/doc/chap0.html
pkg/FusionRings/doc/main.tex
pkg/FusionRings/doc/manual.pdf

# OS
.DS_Store

# Temporary
*~
*.swp
